.ss{
    background-color: rgb(190, 29, 169);
}
li{
    font-family:helvetica neue, roboto;
    display:inline;
    padding-left: 9px;
    border-style:double;
    color: rgb(157, 103, 33);
    border-width:5px;
    font-size: large;
}
a:link{
    color:black;
}
a:visited{
    color: black;
}
button:hover{
    background-color: wheat;
}
a:active{
    color: blueviolet;
}
button{
    color: white;
    margin-left:10px;
}
p{
    font-size: larger;
    padding: 10px;
    margin-left: 20px;
    font-weight:bold;
    word-spacing:2px;
    letter-spacing:0px;
}
section > h2{
    color: rgb(63, 37, 2);
    padding-left:30px;
    text-decoration: underline;
}
table > th{
    border: 2;
}
td{
    padding-left:10px;
    padding-right:5px;
    font-size: larger; 
}
iframe{
    padding-top:30px;
    padding: left 30px;
}
table{
    width:300px;
    height:100px;
    position: grid;
    grid-template-columns: 100px 200px 300px;
    grid-template-rows: 100px 200px 300px;
    justify-self: stretch;
    border: 2px;
    border-style: double;
    color: black;
}

#about{
    font-style: oblique;
}
nav{
    position: relative;
    background-color: rgba(255, 238, 0, 0.7);
    width: 100%;
}
div{
    font-size: 40px;
    padding-left: 500px;
    text-decoration: solid;
    font-style: italic;
}
#work{
    text-align: center;
    font-style: oblique;
}
#resume{
    font-style: oblique;
}
#contact{
    font-style: oblique;
}
#about > h2{
    text-align: center;
}
*{
    margin: 0px;
    padding: 0px;
}




